.chatContainer {
    background-color: rgba(1, 0, 9, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: #d4d7f6;
}

.chatHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.backbutton {
    font-size: 30px;
    color: #d4d7f6;
    background-color: black;
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 클릭 가능한 포인터로 변경 */
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

.userName {
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
    border: none;
}

.statusIndicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c1bae7;
}

.situationDescription {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
}

.messageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.receivedMessage {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.messageAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.message {
    background-color: #b6ade4;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    max-width: 70%;
}

.messageSent {
    align-self: flex-end;
    background-color: #b6d0e1;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    max-width: 70%;
}

@media (max-width: 768px) {
    .chatHeader {
        flex-direction: column;
        align-items: flex-start;
    }

    .statusIndicator {
        align-self: flex-end;
    }

    .situationDescription {
        font-size: 16px;
    }

    .message, .messageSent {
        font-size: 16px;
    }
}
