/* src/styles/ChatPage.module.css */
.mainContainer {
    background-color: #f0f0f5; /* 밝은 배경 색상으로 변경 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding: 0;
}

.contentWrapper {
    width: 100%;
    min-width: 1200px;
    max-width: 1200px;
    height: 100vh;
    background-color: #ffffff; /* 배경 색상 밝게 변경 */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
.stageBanner {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.actualMeetingBanner {
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}