.mainContainer {
    background-color: var(--sds-color-background-default-default);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.contentWrapper {
    flex: 1;
    min-width: 1000px;
    max-width: 1200px; /* 또는 원하는 최대 너비 */
    margin: 0 20px; /* 좌우 여백 추가 */
}

@media (max-width: 991px) {
    .contentWrapper {
        margin: 0 10px;
    }
}