.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    overflow-y: auto;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff6b6b;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1002;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.generateImageContainer {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 100px);
}

.tagSelection, .imagePreview {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: calc(100%);
}

.tag, .selectedTag {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.selectedTag {
    background-color: #4CAF50;
    color: white;
}

.imageContainer {
    width: 100%;
    max-width: 500px;
    height: 0;
    padding-bottom: 75%; /* 4:3 비율 유지 */
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}

.generatedImage, .defaultImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* 배경색 추가 */
}

.selectedTags {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.selectedTags span {
    margin-right: 15px;
    font-size: 16px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.imageLogContainer {
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 20px;
    overflow-y: auto;
}

.imageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image, .generatedImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.pagination button {
    margin: 0 10px;
}

.pagination span {
    margin: 0 10px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 10px;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.applyButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.applyButton:hover {
    background-color: #45a049;
}