.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    overflow-y: auto;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff6b6b;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1002;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
}

.generateImageContainer {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 100px);
}

.tagSelection, .imagePreview {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: calc(100%);
}

.tag, .selectedTag {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.selectedTag {
    background-color: #4CAF50;
    color: white;
}

.generatedImage, .defaultImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 60%;
    object-fit: contain;
    margin-bottom: 20px;
}

.selectedTags {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.selectedTags span {
    margin-right: 15px;
    font-size: 16px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}