/* src/styles/HistoryPage.module.css */
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f0f0f5; /* 배경 색상을 밝게 변경 */
    color: #333333; /* 텍스트 색상을 어둡게 변경 */
    padding: 20px;
}

.Historyheader {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 10px solid #ff6b6b; /* 강조 색상으로 변경 */
    padding: 10px 0;
    background-color: #ffffff; /* 배경 색상을 밝게 변경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 10px;
    gap: 10px;
}

.backButton {
    background: none;
    border: none;
    color: #ff6b6b; /* 버튼 색상 밝게 변경 */
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.title {
    font-size: 3rem;
    color: #ff6b6b; /* 강조 색상으로 변경 */
    font-style: italic;
    font-weight: bold;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff; /* 배경 색상을 밝게 변경 */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversationInfo {
    display: flex;
    align-items: center;
}

.avatarWrapper {
    margin-right: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.titleWrapper {
    flex-grow: 1;
}

.conversationTitle {
    font-size: 1.5rem;
    color: #333333; /* 텍스트 색상을 어둡게 변경 */
}

.statusWrapper {
    display: flex;
    align-items: center;
}

.status {
    font-size: 1rem;
    color: #666666; /* 텍스트 색상 어둡게 변경 */
    margin-right: 10px;
}

.actionButton {
    background-color: #ff6b6b; /* 버튼 배경 색상 밝게 변경 */
    color: #ffffff; /* 텍스트 색상 밝게 변경 */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    align-self: flex-start;
    transition: background 0.3s, transform 0.3s; /* 부드러운 전환 효과 추가 */
}

.actionButton:hover {
    background-color: #e45b5b; /* 호버 시 색상 변경 */
    transform: scale(1.05); /* 약간 확대 효과 추가 */
}

.scrollIndicator {
    position: fixed;
    right: 10px; /* 스크롤 인디케이터를 오른쪽으로 고정 */
    border-radius: 15px;
    background-color: #ff6b6b; /* 강조 색상으로 변경 */
    width: 18px;
    height: 129px;
    top: 20px; /* 윗쪽에서 약간의 여백 추가 */
}
