.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

.modalOverlay.visible {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    visibility: visible;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
    gap: 15px;
}

.modalContent.visible {
    opacity: 1;
    transform: scale(1);
}

.modalOverlay.closing {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.modalContent.closing {
    opacity: 0;
    transform: scale(0.8);
}

.messageItem {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 10px;
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-weight: bolder;
}

.messageItem.visible {
    opacity: 1;
    transform: translateY(0);
}

.highlight {
    color: #FF6347; /* 모든 텍스트에 적용할 색상 */
    font-weight: bolder; /* 모든 텍스트에 적용할 굵기 */
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-size: 1.2rem; /* 폰트 크기도 통일 */
}

.closeButton {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-weight: bolder;
}

.closeButton:hover {
    background-color: #ff6b6b;
}

.lightbulb {
    width: 40px;
    height: auto;
}

.messageHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.font {
    font-family: Noto Sans KR, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 35px;
}

@keyframes blinkCursor {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.messageItem {
    font-family: 'Arial', sans-serif; /* 타이핑 효과에 어울리는 글꼴 */
    font-size: 1.2rem;
    white-space: pre-wrap; /* 줄바꿈을 위해 추가 */
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    line-height: 1.7;
}

