/* src/styles/Layout.module.css */
.layout {
    display: flex;
    min-height: 100vh;
    background-color: #ffffff; /* 배경 색상을 밝게 변경 */
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f0f0f5; /* 메인 컨텐츠 배경 색상 밝게 변경 */
}

@media (max-width: 991px) {
    .layout {
        flex-direction: column;
    }

    .main {
        order: -1; /* 모바일에서 메인 컨텐츠를 위로 */
    }
}
