.PreviousChatsModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    max-height: 600px;
    position: relative;
    color: #333333;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
}

.chatList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatItemButton {
    background: #f0f0f5;
    border: 1px solid #d4d7f6;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s;
}

.chatItemButton:hover {
    background: #e0e0e5;
}

.chatName {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; /* 원하는 색상으로 변경 */
}

.chatLastMessage {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff6b6b; /* 원하는 색상으로 변경 */
}
