/* src/styles/SettingsPage.module.css */
.settingsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f0f0f5; /* 배경 색상을 밝게 변경 */
    color: #333333; /* 텍스트 색상을 어둡게 변경 */
    padding: 20px;
}

.settingsHeader {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 10px solid #ff6b6b; /* 강조 색상으로 변경 */
    padding-bottom: 10px;
    background-color: #ffffff; /* 배경 색상을 밝게 변경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 10px;
    gap: 10px;
}

.backButton {
    background: none;
    border: none;
    color: #ff6b6b; /* 버튼 색상 밝게 변경 */
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.settingsTitle {
    font-size: 3rem;
    color: #ff6b6b; /* 강조 색상으로 변경 */
    font-style: italic;
    font-weight: bold;
    flex: 1;
}

.settingsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logoutButton {
    font-style: italic;
    font-weight: bold;
    background-color: #ff6b6b; /* 버튼 배경 색상 밝게 변경 */
    color: white;
    border: none;
    border-radius: 25px; /* 둥근 모서리 */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background 0.3s, transform 0.3s; /* 부드러운 전환 효과 추가 */
}

.logoutButton:hover {
    background-color: #e45b5b; /* 호버 시 색상 변경 */
    transform: scale(1.05); /* 약간 확대 효과 추가 */
}

.scrollIndicator {
    position: fixed;
    border-radius: 15px;
    background-color: #ff6b6b; /* 강조 색상으로 변경 */
    width: 18px;
    height: 129px;
    top: 0;
    align-self: flex-end;
    margin-top: 20px;
}
